<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选师无忧APP下载</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="keywords" content="家教,家教网,广州家教,广州家教中心,一对一辅导,一对一辅导,选师无忧,APP,下载">
    <meta name="description" itemprop="description" content="广州怎么找好的家教老师？选师无忧，中国最专业的中小学老师预约平台，专注家教服务13年，国内高端教育品牌.提供专职广州家教老师,线上预约，线下试听上课，专业一对一辅导，帮助老师和学生精准对接，有效提高孩子学习成绩。">
    <link rel="stylesheet" href="/assets/css/wap-base.css">
    <link rel="stylesheet" href="/download/css/mobile.css">
</head>
<body>
<div class="headerlineplaceholder"></div>
<div class="headerline">
    <div class="selectcitybtn">
        <span><%= currentSection %></span>
    </div>
    <a href="waphome.html" class="logo"><img src="/assets/img/wap1.png" ></a>
    <a href="tel:400-612-5351" class="telbox">
        <span>400-612-5351</span>
    </a>
</div>
<div class="main"><img src="/download/images/main.png" alt="选师无忧"></div>
<div>
    <div class="download-student-edition">
        <div class="column logo"><img src="/download/images/xswy_logo.png" alt="家长版"></div>
        <div class="column desc">
            <div>选师无忧家长版-专业的中小学家教辅导神器</div>
            <div class="download-btn-box"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.xsw.student" class="download-btn" >下载</a></div>
        </div>
    </div>
    <div class="download-student-edition">
        <div class="column logo"><img src="/download/images/xswy_logo_teacher.png" alt="老师版"></div>
        <div class="column desc">
            <div>选师无忧老师版-万千老师兼职必备</div>
            <div class="download-btn-box"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.xsw.teacher" class="download-btn">下载</a></div>
        </div>
    </div>
</div>
</body>
</html>