<script type="text/javascript" src="/assets/js/fetchData.js"></script>
<!--script type="text/javascript" src="http://wap.zsekt.com/Home/ShowCell?siteId=2231232" charset="utf-8"></script-->
<!--script type="text/javascript" src="http://yjs.51xuanshi.com/wap.js" charset="utf-8"></script-->
<!-- <script type="text/javascript" src="http://yjs.51xuanshi.com/yy.aspx?id=ehg100396008" charset="utf-8"></script> -->
<script src="https://s11.cnzz.com/z_stat.php?id=1260585790&web_id=1260585790" language="JavaScript"></script>
<!-- <script type="text/javascript" src="http://m1.qc227.cn/theapi/getjs?id=9709726"></script> -->
<!-- <script type="text/javascript" src="http://m112.qc227.cn/theapi/getjs?id=9709726"></script> -->
<!-- <script type="text/javascript" src="http://m1201.s6665.cn/theapi/getjs?id=9710863"></script> -->
<!-- <script type="text/javascript" src="http://m1201.s6665.cn/images/9710863_stat/baidubridge"></script> -->
<script type="text/javascript" src="http://5g.zzlfyy.com/api.aspx?val=333" ></script>
<script>


var _hmt = _hmt || [];

(function() {

  var hm = document.createElement("script");

  hm.src = "//hm.baidu.com/hm.js?0ed6e6151c58df06d2a742cc89a7a46d";

  var s = document.getElementsByTagName("script")[0];

  s.parentNode.insertBefore(hm, s);

  var hma = document.getElementsByTagName('a');
  var len = hma.length;
  for (var i = 0; i < len; i++) {
    var item = hma[i];
    if (item.title == '站长统计') {
      item.style.display = 'none';
    }
  }

})();

</script>
	</body>
</html>
