<div class="allitemstitle">
	<div class="left">
		<span>|</span><%= itemTitle %>
	</div>
	<a class="center" href="<%= online.route %>">
		<img src="/assets/img/wap24.png">
		<span><%= online.name %></span>
	</a>
	<a href="<%= itemUrl %>" class="more"><span>更多</span><img src="/assets/img/wap16.png"></a>
</div>