<div class="headerlineplaceholder"></div>
<div class="headerline">
    <div class="selectcitybtn">
        <span><%= title.length > 6 ? title.substring(0, 6) : title %></span>
    </div>
    <a href="/" class="logo"><img src="/assets/img/wap1.png" ></a>
	<!--<a href="/" class="back"><img src="/assets/img/wap17.png"></a>
	<p><%= title %></p>
    -->
	<a href="tel:400-612-5351" class="telbox">
		<span>400-612-5351</span>
	</a>
</div>