<%- include('header') -%>
    
    <link rel="stylesheet" href="/assets/stylesheets/home.css">

    
    <div class="row" style="background: #f5f5f5;">
        <div class="banner-out">
            <div class="banner">
                <p style="font-size:60px;font-weight:bold;line-height:80px;">全国名师，名校、师大<br>最牛的学霸都在这里</p>
                <p style="font-size:40px;line-height:62px;margin-bottom:40px;">不收取任何中介费用！</p>
                <a href="/appxiazai/jiazhang" target="_blank" class="download"><p>家长版下载</p></a><a href="/appxiazai/laoshi#scan-code-download" class="download"><p>老师版下载</p></a>
                <!--a href="/appxiazai/jiazhang#scan-code-download" class="download"><p>家长版下载</p></a><a href="/appxiazai/laoshi#scan-code-download" class="download"><p>老师版下载</p></a-->
            </div>
        </div>
        <ul class="introduce">
            <li>
                <a href="/appxiazai/jiazhang">
                    <dl>
                        <dt><img src="/assets/images/third-edition-icon1.png" class="normal"><img src="/assets/images/third-edition-icon2.png" class="hover"></dt>
                        <dd>海量学霸、名校名师<br>
                            等你来选</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/appxiazai/laoshi">
                    <dl>
                        <dt><img src="/assets/images/third-edition-icon3.png" class="normal"><img src="/assets/images/third-edition-icon4.png" class="hover"></dt>
                        <dd>轻松招生、拥有专属<br>工作室</dd>
                    </dl>
                </a>
            </li>
            <li>
                <a href="/guanyuwomen">
                    <dl>
                        <dt><img src="/assets/images/third-edition-icon5.png" class="normal"><img src="/assets/images/third-edition-icon6.png" class="hover"></dt>
                        <dd>熙励师范家教中心<br>沥血出品</dd>
                    </dl>
                </a>
            </li>
            <li style="margin-right:0;">
                <a href="/lianxiwomen#contact-us">
                    <dl>
                        <dt><img src="/assets/images/third-edition-icon7.png" class="normal"><img src="/assets/images/third-edition-icon8.png" class="hover"></dt>
                        <dd>免费电话400-612-5351<br>
                            静候您的咨询</dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>

    <%- include('footer') -%>
<%- include('page-bottom') -%>

