<%- include('header') -%>

    <link rel="stylesheet" href="/assets/stylesheets/recruit.css">    
    <div class="row">
        <div class="bannerOut">
            <div class="banner">
                <p class="advertising">选师无忧邀您当老师</p>
                <p class="propaganda">家长主动找上门，上课机会实时推送<br>足不出户，就能轻松找到生源</p>
            </div>
        </div>
        <div class="sectionOneOut">
            <div class="section">
                <div class="content">
                    <p class="title">价格你来定，凭实力赚钱</p>
                    <p class="detail">丰厚的课酬拿到你手软；放个寒暑假，收入可过万。<br>例如高二数学<span>120元</span>/小时，一个月就<span>7K</span>+了</p>
                </div>
                <img src="/assets/images/third-edition-bg20.jpg">
            </div>
        </div>
        <div class="sectionTwoOut">
            <div class="section">
                <img src="/assets/images/third-edition-bg21.jpg">
                <div class="content">
                    <p class="title">无须招生，邀请老师入驻就能拿现金！</p>
                    <p class="detail">每邀请1位新用户注册，并通过审核，你就可以获得<span>10元</span><br>人民币，<span>不设上限</span>，多邀请多收益！</p>
                </div>
            </div>
        </div>
        <div class="sectionOneOut">
            <div class="section">
                <div class="content">
                    <p class="title">接家教，拿实习证明！</p>
                    <p class="detail">想提升自身教学能力？担忧没有实习经历被淘汰？<br>选师无忧来帮你！</p>
                </div>
                <img src="/assets/images/third-edition-bg22.jpg">
            </div>
        </div>
        <div class="sectionOut">
            <p class="title">流程说明</p>
            <ul>
                <li>
                    <h3 style="color:#ef847f;">成为老师</h3>
                    <p>申请加入，无论是在校大学生还是正式老师，只要擅长某一学科，就可以申请加入成为老师。</p>
                </li>
                <li>
                    <h3 style="color:#ffb137;">官方审核</h3>
                    <p>我们将在2-3个工作日内完成审核，通过审核即可在线接家教。</p>
                </li>
                <li>
                    <h3 style="color:#25c6b1;">接家教、邀请用户</h3>
                    <p>审核通过后，可以在平台接家教，完成教学拿课酬；也可以邀请用户，获得现金奖励。</p>
                </li>
                <li>
                    <h3 style="color:#3690e7;">提现到帐</h3>
                    <p>获得课酬或现金奖励后，通过提现，即可把账户内的款项转到银行卡。</p>
                </li>
            </ul>
        </div>

    </div>

    <%- include('footer') -%>

    <script type="text/javascript">
        $(function(){
            $('.banner a').click(function(e) {
                $("html,body").animate({scrollTop: $("#scan-code-download").offset().top}, 1000);
            });
        })
    </script>

    
<%- include('page-bottom') -%>

