<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p><b>这是电脑版页面</b></p>
        <p>测试 搜索</p>

    </body>
</html>
