<%- include('header') -%>

    <%- include('page-banner') -%>

    <div class="row" style="background: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="con">
                        <h2>选师无忧平台使用流程</h2>
                        <div class="process"> <img src="/assets/images/pc43.png" class="identity">
                            <div class="sectionWrap">
                                <div class="section sectionRight">
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc44.png"><span>入驻选师无忧</span></dt>
                                            <dd>填写资料，通过审核</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionLeft">
                                    <div class="left">
                                        <dl>
                                            <dt><img src="/assets/images/pc45.png"><span>找老师</span></dt>
                                            <dd>根据自身情况，自己<br>
                                                或课程顾问挑选老师</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionLeft">
                                    <div class="left">
                                        <dl>
                                            <dt><img src="/assets/images/pc46.png"><span>预约老师</span></dt>
                                            <dd>确定老师和科目后进<br>
                                                行预约老师的操作</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionRight">
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc47.png"><span>老师接受预约</span></dt>
                                            <dd>老师查看预约信息后根据情<br>
                                                况接受预约</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionLeft">
                                    <div class="left">
                                        <dl>
                                            <dt><img src="/assets/images/pc48.png"><span>付款</span></dt>
                                            <dd>24小时内进行付款<br>
                                                否则订单将被取消</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section section1">
                                    <div class="left">
                                        <dl>
                                            <dt><img src="/assets/images/pc49.png"><span>双方沟通</span></dt>
                                            <dd>具体沟通上课细节</dd>
                                        </dl>
                                    </div>
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc49.png"><span>双方沟通</span></dt>
                                            <dd>具体沟通上课细节</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionRight">
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc50.png"><span>老师排课约</span></dt>
                                            <dd>根据沟通结果进行排课操作</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section section1">
                                    <div class="left">
                                        <dl>
                                            <dt><img src="/assets/images/pc51.png"><span>按时上课</span></dt>
                                            <dd>根据排课时间双方进行上课</dd>
                                        </dl>
                                    </div>
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc51.png"><span>按时上课</span></dt>
                                            <dd>根据排课时间双方进行上课</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionRight">
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc52.png"><span>填写教学日志</span></dt>
                                            <dd>上课后填写教学日志</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionLeft">
                                    <div class="left">
                                        <dl>
                                            <dt><img src="/assets/images/pc47.png"><span>确认课酬</span></dt>
                                            <dd>老师写日志后请确认并给老师评<br>
                                                论（7天未处理系统自动好评）</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section sectionRight">
                                    <div class="right">
                                        <dl>
                                            <dt><img src="/assets/images/pc62.png"><span>收到课酬</span></dt>
                                            <dd>课酬进入老师钱包，可进行提现。</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="section2"><img src="/assets/images/pc55.png"></div>
                            </div>
                            <div class="completeBox">
                                <p class="lineOne">订单完成</p>
                                <p class="lineTwo">课酬按照每次课程转账，课时全部消耗完毕则订单完成。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <%- include('footer') -%>

    
    <script type="text/javascript">
        $(function() {
            
        });        
    </script> 

    
<%- include('page-bottom') -%>

