<%- include('header') -%>
        
    <div class="row zhuce">
        <div class="col-md-12">
            <div class="zhuce-box-fade"></div>
            <div class="zhuce-box">
                <div><img src="/assets/images/third-edition-bg.png" /></div> 
                <div class="zhuce-choose">
                    <div class="left-panel">
                        <div>我是<span style="color:#0ab6e6;">家长</span></div>
                        <div>
                            <a class="btn btn-" href="/zhuce/jiazhang" style="background:#4ebcdb;">家长注册</a>
                        </div>
                    </div>
                    <div class="right-panel">
                        <div>我是<span style="color:#f14b1c;">老师</span></div>
                        <div><a class="btn" href="/appxiazai/laoshi#scan-code-download" style="background:#f29251;">老师注册</a></div>
                        <!--div><a class="btn" href="/zhuce/laoshi" style="background:#f29251;">老师注册</a></div-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') -%>
<%- include('page-bottom') -%>

